@font-face {
    font-family: Whitney;
    font-weight: 300;
    src: url(/fake-discord/assets/fonts/6c6374bad0b0b6d204d8d6dc4a18d820.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 400;
    src: url(/fake-discord/assets/fonts/e8acd7d9bf6207f99350ca9f9e23b168.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 500;
    src: url(/fake-discord/assets/fonts/3bdef1251a424500c1b3a78dea9b7e57.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 600;
    src: url(/fake-discord/assets/fonts/be0060dafb7a0e31d2a1ca17c0708636.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 700;
    src: url(/fake-discord/assets/fonts/8e12fb4f14d9c4592eb8ec9f22337b04.woff) format("woff")
}

@font-face {
    font-family: Ginto;
    font-weight: 300;
    src: url(/fake-discord/assets/fonts/148d0f25ba9c02a9190be23e882c7f87.woff) format("woff")
}

@font-face {
    font-family: Ginto;
    font-weight: 400;
    src: url(/fake-discord/assets/fonts/32c4f766e4892c054dfd367dbe0fc6dc.woff) format("woff")
}

@font-face {
    font-family: Ginto;
    font-weight: 500;
    src: url(/fake-discord/assets/fonts/32c4f766e4892c054dfd367dbe0fc6dc.woff) format("woff")
}

@font-face {
    font-family: Ginto;
    font-weight: 600;
    src: url(/fake-discord/assets/fonts/88055567e3d928bcb1e67e967081572e.woff) format("woff")
}

@font-face {
    font-family: Ginto;
    font-weight: 700;
    src: url(/fake-discord/assets/fonts/746a4f241e03deffc59b08c5650cf458.woff) format("woff")
}

@font-face {
    font-family: Ginto;
    font-weight: 300;
    font-style: italic;
    src: url(/fake-discord/assets/fonts/26ec135289ee1c4e5439e30fa7d771b0.woff) format("woff")
}

@font-face {
    font-family: Ginto;
    font-weight: 400;
    font-style: italic;
    src: url(/fake-discord/assets/fonts/7a504226cbb79a1a6990a72266007030.woff) format("woff")
}

@font-face {
    font-family: Ginto;
    font-weight: 500;
    font-style: italic;
    src: url(/fake-discord/assets/fonts/7a504226cbb79a1a6990a72266007030.woff) format("woff")
}

@font-face {
    font-family: Ginto;
    font-weight: 600;
    font-style: italic;
    src: url(/fake-discord/assets/fonts/4ea3faef5f6c0c74eb4d5e1a4a5de0b4.woff) format("woff")
}

@font-face {
    font-family: Ginto;
    font-weight: 700;
    font-style: italic;
    src: url(/fake-discord/assets/fonts/09788e4fa057f2e0067e13209e56c8a7.woff) format("woff")
}